@import url('https//fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    /* overflow: hidden; */
}
.container{
    width: 100%;
    min-height: 100vh;
    background-color: aquamarine;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    line-height: 80px;
    z-index: 111;
    background-color: rgb(238, 241, 242);
}
.logo{
    display: flex;
    font-size: 40px;
    font-weight: 800;
    color: #3d5356;
    letter-spacing: 3px;
    cursor: pointer;
    text-transform: uppercase;
}
b{
    font-size: 70px;
    color: blueviolet;
}
.navItems {
    display: flex;
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a{
    font-size: 25px;
    color: #3d5356;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: capitalize;
}
.navItems li:hover a,
.links a:hover{
    color: #7f00ff;
}
.links a{
    font-size: 30px;
    color: #3d535f;
    margin: 2px 10px;
} 

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 100;
}

header h1 {
    margin: 0;
    
}

section {
    padding: 20px;
}

section h2 {
    color: #333;
    position: center;
    margin-bottom: 2%;
    padding-left: 41%;
}
section h3 {
    color: #050404;
    position: center;
    margin-bottom: 2%;
    padding-left: 45%;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    color: #030303;
    text-align: center, left;
    

}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}
